<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - SORptMvc</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/cookie/jquery.cookie.min.js"></script>
    <script type="text/javascript" src="~/lib/handsontable/handsontable.full.min.js"></script>
    <script type="text/javascript" src="~/lib/handsontable/zh-CN.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/lib/md5/jquery.md5.js"></script>
    <script src="~/lib/layer/layer.min.js"></script>
    <link href="https://cdn.bootcdn.net/ajax/libs/layer/3.5.1/theme/default/layer.min.css" rel="stylesheet">
    <link rel="stylesheet" href="~/lib/handsontable/handsontable.full.min.css" />
    <link rel="stylesheet" href="~/lib/layer/theme/default/layer.css" />
</head>
<body>

    <header id="header">
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
            <div class="container" style="justify-content:center">
                <h2>销售订单</h2>
            </div>
        </nav>
    </header>
    <div class="container1">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted" id="footer">
        <div class="container">
            &copy; <span id="year"></span> - SORptMvc
        </div>
    </footer>

    <script src="~/js/site.js" asp-append-version="true"></script>
    @RenderSection("Scripts", required: false)
</body>
</html>
